<div class="api-nav" data-bind="css: { active: active }, style: { width: apiNavWidth }">
  <div class="button-label" data-bind="click: toggleVisibility">
    <span class="icon" data-bind="class: labelIcon"></span> API <!-- ko if: inAPISection --><span class="api-section"><span class="content" data-bind="text: currentAPISection"></span></span><!-- /ko -->
  </div>
  <div class="content" data-bind="foreach: navData, stopProp">
    <api-category params="categoryData: $data"></api-category>
  </div>
</div>
