<div class="api-search" data-bind="css: { searchResultsVisible: searchResultsVisible }, event: { mouseout: inactivateSelection }, stopProp">
  <div class="container">
    <label>
      <span class="label">API<span class="icon-search"></span></span>
      <input name="search" type="text" data-bind="value: query, hasFocus: hasFocus, valueUpdate: 'keyup'" autofocus>
    </label>
    <div class="results has-trans">
      <div class="close icon-close" data-bind="click: close"></div>
      <div class="results-title">
        API Query:
        <!-- ko if: userTyping -->
          <span class="spinner icon-spin1"></span>
        <!-- /ko -->
        <!-- ko ifnot: userTyping -->
          <span class="query-text" data-bind="text: queryString"></span>
        <!-- /ko -->
      </div>
      <div class="content">
        <!-- ko ifnot: hasResults -->
          <div class="no-results">No results found.</div>
        <!-- /ko -->
        <!-- ko if: hasResults -->
          <!-- ko foreach: results -->
            <api-search-result params="data: $data"></api-search-result>
          <!-- /ko -->
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>
