<div class="code-demo" data-bind="css: { collapsed: collapsed, changed: changed }, click: openEditor">
  <div class="title">
    <span data-bind="text: demoTitle"></span>
    <!-- ko if: collapsed -->
      <div class="expand">Open Live Editor</div>
    <!-- /ko -->
  </div>

  <!-- ko if: explanation -->
    <div class="explanation" data-bind="text: explanation"></div>
  <!-- /ko -->

  <div class="output" data-bind="class: className">
    <div class="title">
      <button class="refresh small button" data-bind="click: runDemo">Re-Run Code</button>
      <!-- ko if: hasError -->
        <div class="error">There appears to be an error in your input, please correct it and then <button class="refresh small button" data-bind="click: runDemo">Re-Run the Code</button></div>
      <!-- /ko -->
    </div>
    <div class="console" data-bind="foreach: consoleLog">
      <div class="log" data-bind="text: $data"></div>
    </div>
    <div class="content"></div>
  </div>

  <div class="resource-titles" data-bind="foreach: orderedResources">
    <div class="resource" data-bind="text: label, css: { active: active }, click: selectResource"></div>
  </div>

  <div class="resource-editors" data-bind="foreach: orderedResources">
    <div class="editor" data-bind="demoCodeEditor: { name: name, parentNS: parentNS, source: source, type: type }">
      <div class="ace"></div>
    </div>
  </div>
</div>
