<div class="code-demo">
  <div class="title" data-bind="text: demoTitle"></div>
  <div class="explanation"></div>

  <div class="output">
    <div class="title">
      Output
      <!-- ko if: changed -->
        <button class="refresh small button" data-bind="click: runDemo">Refresh</button>
      <!-- /ko -->
      <!-- ko if: hasError -->
        <div class="error">There appears to be an error in your input, please check it and click reload again.</div>
      <!-- /ko -->
    </div>
    <div class="content"></div>
  </div>

  <div class="resource-titles" data-bind="foreach: resources">
    <div class="resource" data-bind="text: label, css: { active: active }, click: selectResource"></div>
  </div>
  <div class="resource-editors" data-bind="foreach: resources">
    <div class="editor" data-bind="demoCodeEditor: { name: name, parentNS: parentNS, source: source, type: type }">
      <div class="ace"></div>
    </div>
  </div>

</div>
