<div class="documentation-nav" data-bind="click: clearMenu">
  <div class="content">
    <div class="version-selector" data-bind="css: { active: menuVisible }">
      <span class="label">Version:</span>
      <div class="selector" data-bind="click: toggleMenu">
        <div class="label">
          <span class="text" data-bind="text: selectedDocsVersion"></span>
          <span class="icon" data-bind="class: selectorIcon"></span>
        </div>
        <div class="options" data-bind="foreach: versionsAvailable">
          <div class="version" data-bind="text: version, click: select, css: { active: isSelected }"></div>
        </div>
      </div>
    </div>
    <!-- ko foreach: docLinks -->
      <div class="doc-link">
        <a data-bind="text: label, $route: { url: linkAddr, handler: clickHandler }" class="link"></a>
        <span class="description" data-bind="text: description"></span>
      </div>
    <!-- /ko -->
  </div>
</div>
