<div class="download-box" data-bind="class: activeTab">
  <div class="title">
    Download footwork.js</span>
    <a href="https://github.com/reflectiveSingleton/footwork" class="button"><span class="label">Github</span> <span class="icon-github"></span></a>
  </div>

  <div class="tabs">
    <div class="builds tab" data-bind="click: chooseTab">Builds</div>
    <div class="bower tab" data-bind="click: chooseTab">Bower</div>
    <div class="bootstrap tab" data-bind="click: chooseTab">Bootstrap</div>
  </div>

  <div class="builds content">
    <div class="section">
      <div class="selector-tool">
        <div class="build-label">Version:</div>
        <div class="build-selector">
          <select data-bind="options: buildVersions, value: buildVersion"></select>
        </div>
      </div>
      <div class="selector-tool">
        <div class="build-label">Build:</div>
        <div class="build-selector">
          <select data-bind="options: buildProfiles, value: buildProfile, optionsText: 'label', optionsValue: 'value'"></select>
        </div>
      </div>
      <div class="selector-tool">
        <div class="build-label">Environment:</div>
        <div class="build-selector">
          <select data-bind="options: environments, value: environment, optionsText: 'label', optionsValue: 'value'"></select>
        </div>
      </div>
      <div class="build-link">
        <a class="footwork-download-link button" data-bind="attr: { href: buildURL }">
          <span class="icon-download"></span>
          <span class="label" data-bind="text: buildLabel">
          </span>
        </a>
        <div class="prod-details"><em data-bind="text: buildSize"></em> <span data-bind="text: buildType"></span></div>
      </div>
    </div>
    <div class="section">
      <div class="build-description">
        <div class="text" data-bind="text: buildDescription"></div>
        <!-- ko if: hasDependencies -->
          <span class="deps" data-bind="foreach: dependenciesNeeded">
            <a data-bind="attr: { href: url, title: note }, text: label"></a>
          </span>
          <div class="footnote">You will need to supply these dependencies via globals, RequireJS, or CommonJS</div>
        <!-- /ko -->
      </div>
    </div>
  </div>

  <div class="bower content">
    <p><em>Install via bower.json:</em></p>

    <p>If you are totally new to bower, it is recommended that you head over to the <a target="_blank" href="http://bower.io/">bower website</a> to get info on what
      it is and how to use it.</p>

    <p>Generally you will be installing footwork via bower in the context of a larger application and use the bower.json file:</p>
    <pre><code class="javascript">// add footwork under "dependencies"
{
  "dependencies": {
    "footwork": "*"
  }
}</code></pre>

    <pre><code class="bash"># Then in the same directory as your bower.json file
bower install</code></pre>

    <p>You can also optionally install just footwork with the following command-line statement:</p>

    <pre><code class="bash">bower install footwork</code></pre>
  </div>

  <div class="bootstrap content">
    <p><em>Coming soon... pre-configured bootstrapped base-applications!</em></p>
  </div>
</div>
