<div class="download-box" data-bind="class: activeTab">
  <!-- ko if: showTabs -->
    <div class="tabs">
      <!-- ko if: showTitle -->
        <div class="title">
          <span class="text">Download</span>
          <a href="https://github.com/footworkjs/footwork" class="button"><span class="label">Github</span> <span class="icon-github"></span></a>
        </div>
      <!-- /ko -->

        <div class="builds tab" data-bind="click: chooseTab">Builds</div>
        <div class="bower tab" data-bind="click: chooseTab">Bower</div>
        <!--<div class="bootstrap tab" data-bind="click: chooseTab">Bootstrap</div>-->
    </div>
  <!-- /ko -->

  <div class="builds content">
    <div class="section">
      <div class="selector-tool">
        <div class="build-label">Version:</div>
        <div class="build-selector">
          <select data-bind="options: buildVersions, value: buildVersion"></select>
        </div>
      </div>
      <div class="selector-tool">
        <div class="build-label">Build:</div>
        <div class="build-selector">
          <select data-bind="options: buildProfiles, value: buildProfile, optionsText: 'label', optionsValue: 'value'"></select>
        </div>
      </div>
      <div class="selector-tool">
        <div class="build-label">Environment:</div>
        <div class="build-selector">
          <select data-bind="options: environments, value: environment, optionsText: 'label', optionsValue: 'value'"></select>
        </div>
      </div>
      <div class="build-link">
        <a class="footwork-download-link button" data-bind="attr: { href: buildURL }">
          <span class="icon-download"></span>
          <span class="label" data-bind="text: buildLabel">
          </span>
        </a>
        <div class="prod-details"><em data-bind="text: buildSize"></em> <span data-bind="text: buildType"></span></div>
      </div>
    </div>
    <div class="section">
      <div class="build-description">
        <div class="text" data-bind="text: buildDescription"></div>
        <!-- ko if: hasDependencies -->
          <span class="deps" data-bind="foreach: dependenciesNeeded">
            <a data-bind="attr: { href: url, title: note }, text: label"></a>
          </span>
          <div class="footnote">You will need to supply these dependencies via globals, RequireJS, or CommonJS</div>
        <!-- /ko -->
      </div>
    </div>
  </div>

  <div class="bower content">
    <p>If you are totally new to bower (or do not have it installed), it is recommended that you head over to the
      <a target="_blank" href="http://bower.io/">bower website</a> to get info on what it is and how to use it.</p>

    <p>Generally you will be using footwork in the context of a larger application. In that case it is best to add it to the
      <span class="inline-code">bower.json</span> file and install it along with any other dependencies you may have:</p>
    <pre><code class="bash">$ bower install footwork --save</code></pre>
  </div>

  <div class="bootstrap content" data-bind="limitScroll">
    <p><em>Coming soon... pre-configured bootstrapped base-applications!</em></p>
  </div>
</div>
