/vendor
/node_modules
/releases
/public/bower_components
/public/scripts/main-build.js
composer.phar
.env
/public/css/app.css
/public/demo/amd-example/*.zip
/public/demo/global-example/*.zip
/scratch
