@import "config.less";
@import "includes.less";

.icon-chevron-down, .icon-chevron-up, .icon-arrow-up, .icon-arrow-down, .icon-download {
  &:before {
    position: relative;
    top: -2px;
  }
}

.icon-download {
  &:before {
    position: relative;
    top: -4px;
  }
}
