<div class="content">
  <div class="sub-section" data-bind="css: { isCollapsable: isCollapsable, isCollapsed: isCollapsed, hasSubSections: hasSubSections }">
    <div class="content" data-bind="css: { active: active }">
      <a class="sub title" data-bind="css: { isFirstItem: isFirstItem }, click: chooseSection, attr: { href: anchorAddress }">
        <span class="label" data-bind="text: title"></span>
        <!-- ko if: isCollapsable -->
          <span class="icon" data-bind="class: collapseIcon, click: toggleCollapse"></span>
        <!-- /ko -->
        <div class="arrow"></div>
      </a>
      <!-- ko if: hasSubSections -->
        <div class="sub-sections-list" data-bind="foreach: subSections">
          <pagesubsection params="sectionData: $data, parent: $parent"></pagesubsection>
        </div>
      <!-- /ko -->
    </div>
  </div>
</div>
