@sectionColor: mix(@pane-bg-color, @pane-fg-color, 50%);
@iconWidth: 25px;
@iconHeight: 20px;

.sub-title-style {
  color: lighten(@sectionColor, 10%);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 5px 0;
  cursor: auto;
  font-size: 15px;

  &:hover {
    color: white;
    .transition(none);
    .label {
      color: white;
      .transition(none);
    }
  }
}

.span-sub-title-style {
  font-weight: normal;

  &:hover {
    .label {
      color: lighten(@sectionColor, 10%);
    }
  }
}

.pane .content .pane-component {
  &.pageSections {
    @pageSectionTitleHeight: 25px;
    .entry-row {
      .sub-sections {
        background: rgba(0,0,0,0.2);
        .border-radius(3px 0 0 3px);
      }

      & > .content {
        height: 0;


        &.hasTitle {
          height: @pageSectionTitleHeight;
        }

        .title {
          font-size: 17px;
          font-weight: bold;
          line-height: @pageSectionTitleHeight;
          padding-bottom: 0;
        }
      }
    }

    .section-label {
      position: relative;
      cursor: pointer;
      text-decoration: none;
      margin: -10px 0 0;

      &.isCollapsable {
        a > .label {
          margin-right: @iconWidth + 5px;
        }

        &.isCollapsed {
          & > .sub-sections {
            height: 0;
            opacity: 0;
            .transition(opacity 0s linear);
          }
        }

        &.hasSubSections > .content {
          padding-right: 10px;

          & > .title > .label {
            margin-right: @iconWidth + 5px;
          }
        }
      }

      &.hasTitle {
        margin-top: 10px;
        margin-bottom: -10px;

        & > .content {
          display: block;
        }
      }

      &.hasSubSections {
        margin-bottom: 10px;
      }

      .title {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        color: @sectionColor;
        text-decoration: none;
        .clearblock;

        & > .label {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-left: 10px;
          .transition(color 0.3s 0.2s ease);
          margin-right: 10px;

          &:hover {
            color: lighten(@sectionColor, 10%);
            .transition(color 0s linear);
            text-decoration: none;
          }

          &:active {
            color: @pane-fg-color;
          }
        }

        .icon {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: @iconWidth;
          height: 100%;
          font-size: 15px;
          line-height: @pageSectionTitleHeight;
          text-align: center;
          border: 1px solid transparent;
          .border-radius(3px);
          .box-sizing(border-box);

          &:hover {
            border-color: @sectionColor;
          }
        }
      }

      & > .content {
        position: relative;
        padding-right: @accent-padding;
        width: 100%;
        height: @pageSectionTitleHeight;
        .box-sizing(border-box);
        .clearblock;
        display: none;

        & > .title > .label {
          margin-right: 0;
        }
      }

      pagesubsection {
        .active .arrow {
          right: -20px !important;
        }

        .sub-sections {
          .active .arrow {
            right: -30px !important;
          }

          .sub-sections {
            .active .arrow {
              right: -40px !important;
            }
          }
        }
      }

      & > .sub-sections {
        position: relative;
        height: auto;
        opacity: 1;
        .transition(opacity 0.35s linear);
        .clearblock;
      }

      .sub-section .sub-section {
        .title {
          margin-right: 5px;
          .box-sizing(border-box);
          .border-radius(3px);
        }
      }

      & > .content, .sub-section > .content, .sub-sections > .content {
        &.active {
          .title .label {
            color: @pane-fg-color;
            .transition(text-shadow 0.2s linear);
          }
          .arrow {
            right: -5px;
            opacity: 1;
            .transition(right 0.5s ease, opacity 0s linear);
          }
        }
      }

      span.title {
        display: block;
        .sub-title-style;
        .span-sub-title-style;
      }

      .sub-sections {
        margin: 5px 0 0 @accent-padding;
        padding: 1px 10px;
        cursor: auto;

        pagesubsection > .content {
          position: relative;
          font-size: 13px;

          a {
            display: block;
            font-size: 13px;

            .label {
              margin-right: 10px;
            }
          }

          .sub-sections {
            & > .content {
              & > .sub.title {
                .sub-title-style;
              }
              & > span.sub.title {
                .span-sub-title-style;
              }
            }
          }
        }
      }

      .sub-sections .sub-sections {
        margin: 5px 0;
        @subSectionBorder: 1px solid rgba(255,255,255,0.1);
        @darkSubSectionBorder: 1px solid rgba(0,0,0,0.1);
        border-top: @subSectionBorder;
        border-bottom: @darkSubSectionBorder;
        border-left: @subSectionBorder;
        border-right: @darkSubSectionBorder;
        background: rgba(0,0,0,0.12);
        .border-radius(5px);

        & > .title {
          padding-right: 0;
          margin-right: 0;

          .label {
            padding-right: 0;
            margin-right: 0;
            font-weight: normal;
          }
        }

        pagesubsection > .content {
          background: transparent;

          .label {
            padding-right: 0;
            margin-right: 0;
          }
        }

        .sub.title {
          .label {
            padding-right: 0;
            margin-right: 0;
          }
        }
      }

      .arrow {
        @height: 20px;
        @width: 15px;
        position: absolute;
        width: 0px;
        height: 0px;
        right: -50px;
        border-style: solid;
        border-width: @height @width @height 0;
        border-color: transparent @body-bg-color transparent transparent;
        top: 50%;
        margin-top: -@height;
        opacity: 0;
        .transition(right 0.5s ease, opacity 0s 0.5s linear);
      }
    }
  }
}
